@import url(./reset.css);

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/UbuntuBold.eot');
    src: url('fonts/UbuntuBold.eot') format('embedded-opentype'),
         url('fonts/UbuntuBold.woff2') format('woff2'),
         url('fonts/UbuntuBold.woff') format('woff'),
         url('fonts/UbuntuBold.ttf') format('truetype'),
         url('fonts/UbuntuBold.svg#UbuntuBold') format('svg');
     font-style: normal;
     font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/UbuntuRegular.eot');
    src: url('fonts/UbuntuRegular.eot') format('embedded-opentype'),
         url('fonts/UbuntuRegular.woff2') format('woff2'),
         url('fonts/UbuntuRegular.woff') format('woff'),
         url('fonts/UbuntuRegular.ttf') format('truetype'),
         url('fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-image: url(./image/bg_form.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-link {
    width: 100vw;
    height: 58px;
    background-color: #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
}

.logo:hover {
    color: #3CB878;
}

.menu-icon {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    gap: 25px;
    padding-right: 25px;
    padding-left: 701px;
}

.svg {
    cursor: pointer;
}

.svg:hover path {
    fill: #3CB878;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    border-left: 1px solid;
    border-color:rgba(255, 255, 255, 0.5);
    padding-left: 27px;
}

.text-link {
    color: #fff;
    cursor: pointer;
}

.text-link:hover {
    color: #3CB878;
}

.main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    width: 444px;
    height: 584px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px 60px 38px;
}

.container::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #01813F;
    position: absolute;
    top: 29px;
    left: 0;
}

.filling-choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-sign {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    color: #434343;

}

.text-log {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.text-log:hover {
    color: #01813F;
    text-decoration: underline;
    text-decoration-color: #01813F;
}

.socials {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 31px;
}

.btn {
    width: 160px;
    height: 48px;
    display: inline-flex;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}

.btn::before {
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    left: 47px;
}

.btn-facebook {
    background: #305DB8;
}

.btn-facebook::before {
    background: rgba(10, 22, 47, 0.1);
}

.btn-facebook::after {
    content: 'Facebook';
    position: absolute;
    right: 20px;
}

.btn-facebook:hover {
    background: #022263;
}


.btn-google {
    background: #DF4A32;
}

.btn-google::before {
    background: rgba(43, 13, 9, 0.1);
}

.btn-google::after {
    content: 'Google';
    position: absolute;
    right: 26px;
}

.btn-google:hover {
    background: #AB1F09;
}

.line {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    position: relative;
}

.line::before,
.line::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 152px;
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
}

.line::before {
    margin-left: -100%;
    left: -4px;
}

.line::after {
    margin-right: -100%;
    right: -4px;
}

.form { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 12px 0;
    color: #BEBEBE;
}

.text-field {
    display: flex;
    flex-direction: column;
}

.input {
    height: 45px;
    border: 1px solid rgba(242, 242, 242, 1);
    padding: 14px 20px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

input[type=checkbox] {
    display: none;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}

.checkbox-hidden:checked ~ .checkbox {
    background-image: url(./image/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.text-consent {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.text-more {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.text-more:hover {
    color: #01813F;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #01813F; 
}

.submit {
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 4px;
    background: #3CB878CC;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}

.submit:hover {
    background: #01813F;
}