@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/UbuntuBold.eot');
    src: url('fonts/UbuntuBold.eot') format('embedded-opentype'),
         url('fonts/UbuntuBold.woff2') format('woff2'),
         url('fonts/UbuntuBold.woff') format('woff'),
         url('fonts/UbuntuBold.ttf') format('truetype'),
         url('fonts/UbuntuBold.svg#UbuntuBold') format('svg');
     font-style: normal;
     font-weight: 700;
}
